@use "../base/variables" as v;
@use "../base/mixins" as m;

.icons {
    margin-top: 1rem;
    .list-icons {
        li {
            img {
                margin: 0 auto;
                width: 12rem;
            }
            p {
                font-family: v.$fontCursive;
                font-size: 3.2rem;
                color: v.$primary;
            }
        }
        @include m.tablet {
            @include m.grid(3, 2rem)
        }
    }
}
