@use "variables" as v;


html {
    font-size: 62.5%; //10px
    box-sizing: border-box;
}

*,*::before, *:after {
    box-sizing: inherit;
}

/* La fuente por defecto en un documento html es de 16px; etonces 5 rem=80px */
/* queremos que 1 rem sea de 10px entonces 5 rem=50px*/ /* 10/16=0.65 * 100 */

body {
    font-family: v.$fontmain;
    font-size: 1.6rem; // 16px
    background-color: v.$brown-light;
}

p {
    color: v.$black;
    font-size: 1.6rem;
    line-height: 2;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

