@use "../base/mixins" as m;
@use "../base/variables" as v;

.nav-barra {
    font-variant:small-caps;
    display: flex;
    flex-direction: column;//vertical
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        font-size: 5rem;
        font-family: v.$fontmain;
        font-variant:small-caps;
        color: white;
        text-align: center;
        .sub-logo{
            font-size: 2rem;
        }
    }
}